@inherits LayoutComponentBase
@code {
    // See MainLayout.razor.cs for logic
}
@inject NavigationManager Navigation

<div class="page">
    <LifeAlertPlus.Client.Components.ToastNotification @ref="ToastRef" />
    <LifeAlertPlus.Client.Components.Chatbot.ChatbotWidget />
    <LifeAlertPlus.Client.Components.FalseAlarmFeedbackPrompt />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>