@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>