**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
**/wwwroot/_framework/
**/wwwroot/_content/
**/wwwroot/service-worker-assets.js
**/*.user
**/*.suo
**/*.cache
**/*.log
**/*.pdb
**/*.zip
**/*.tar
**/*.gz
**/*.7z
**/.git/
**/.gitignore
**/.DS_Store
certs/